{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Site Surveys</title>

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark mb-4 border" style="background-color: #0d6efd;">
        <div class="container-fluid" style="text-align: center">
           <a class="navbar-brand" href="{% url 'site_surveys:index' %}">
                <img src="{% static '/site_surveys/images/pnc_logo_five.png' %}" class="rounded" alt="Missing Image">
                <h3> Site Surveys</h3>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse" >
                <div class="btn-group">
                    <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Sites</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'site_surveys:sites' %}">Sites</a></li>
                        <li><a class="dropdown-item" href="{% url 'site_surveys:new_site' %}">Add New Site</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Useful Links</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'site_surveys:useful_links' %}">Useful Links</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Documentation</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'site_surveys:documentation' %}">Documentation</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Contacts</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'site_surveys:contacts' %}">Contacts</a></li>
                    </ul>
                </div>

                <!-- Account-related links -->
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">

                    {% if user.is_authenticated %}
                        <li class="badge">
                            <h1><span class="badge text-bg-light">{{ user.username.title }}</span></h1>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:register' %}"><h4>Register</h4></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:login' %}"><h4>Log In</h4></a>
                        </li>
                    {% endif %}

                </ul> <!-- End of account-related links -->

                {% if user.is_authenticated %}
                    <form action="{% url 'accounts:logout' %}" method='post'>
                        {% csrf_token %}
                        <button name='submit' class='btn btn-light btn-outline-info text-dark btn-lg' data-toggle="tooltip"
                                data-placement="top" title="Click to log out of site.">Log Out</button>
                    </form>
                {% endif %}

            </div> <!-- Closes collapsible parts of navbar -->

        </div> <!-- Closes navbar's container -->
    </nav> <!-- End of navbar -->

    <main class="container">
        <div class="pb-2 mb-2 border-bottom">
            {% block page_header %}{% endblock page_header %}
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </main>

</body>
</html>