<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Site</title>
</head>
<body>
    {% extends "site_surveys/base.html" %}

    {% block page_header %}
        <h1>Edit Site</h1>
    {% endblock page_header %}

    {% block content %}

        <div class="p-3 mb-4 bg-warning text-body border rounded-3">
            <div class="container py-1">
                <form action="{% url 'site_surveys:edit_site' site.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ site_form.as_div }}
                    {{ address_form.as_div }}
                    {{ file_upload_form.as_div }}
                    <button name="submit">Save Changes</button>
                </form>
            </div>
        </div>

    {% endblock content %}
</body>
</html>