<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
   <style>
      div {text-align: center;}
   </style>
<body>
    {% extends "site_surveys/base.html" %}

    {% block page_header %}
        <div class="p-3 mb-4 bg-light border rounded-3">
            <div class="container-fluid py-4">
                <h1 class="display-3">Track Your Site Surveys</h1>

                <p class="lead">Make your own Site Survey, and keep a list of the site surveys you're tracking.
                    Whenever you learn something new about a site, make a note summarizing what you've learned.</p>
                <a class="btn btn-primary btn-lg mt-1"
                    href="{% url 'accounts:register' %}">Register &raquo;</a>
            </div>
        </div>
    {% endblock page_header %}

    {% block content %}
        <br><p>Site Surveys helps you keep track of your sites, for any site you're interested in.</p>
    {% endblock content %}
</body>
</html>