<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PNC Site Surveys</title>
</head>
   <style>
      div {text-align: center;}
   </style>
<body>
    {% extends "site_surveys/base.html" %}

    {% block page_header %}
        <div class="p-3 mb-4 text-white border rounded-3" style="background-color: #556278; margin-top: 60px;">
            <div class="container-fluid py-4" >
                <h1 class="display-3">&#128423; Track Your PNC Site Surveys &#128423; </h1>

                <p class="lead">Make your own PNC Site Survey, and keep a list of the site surveys you're tracking.
                    Whenever you learn something new about a site, make a note summarizing what you've learned.</p>
                <a class="btn btn-primary btn-lg mt-1 bg-dark text-white"
                    href="{% url 'site_surveys:sites' %}">View Full List of Sites &raquo;</a>
            </div>
        </div>
    {% endblock page_header %}

    {% block content %}
        <br><p>Site Surveys helps you keep track of your sites, for any site you're interested in.<br></p>
    {% endblock content %}
</body>
</html>