<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MDF Checklist</title>
</head>
<body>
    {% extends "site_surveys/base.html" %}

    {% block page_header %}
        <h1>MDF Checklist</h1>
    {% endblock page_header %}

    {% block content %}

        <div class="p-3 mb-4 bg-warning text-body border rounded-3">
            <div class="container py-1">
                <form action="{% url 'site_surveys:mdf_checklist' site.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ mdf_form.as_div }}
                    <button name="submit">Add MDF Checklist</button>
                </form>
            </div>
        </div>

    {% endblock content %}
</body>
</html>