<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Site</title>
</head>
<body>
    {% extends "site_surveys/base.html" %}

    {% block content %}

        <p>Add New Site:</p>

        <div class="p-3 mb-4 bg-warning text-body border rounded-3">
            <div class="container py-1">
                <form action="{% url 'site_surveys:new_site' %}" method='post'>
                    {% csrf_token %}
                    {{ site_form.as_p }}
                    {{ address_form.as_p }}
                    <button name="submit">Add Site</button>
                </form>
            </div>
        </div>

    {% endblock content %}
</body>
</html>