<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site</title>
</head>
<body>
    {% extends "site_surveys/base.html" %}

    {% block page_header %}

        <div class="container mt-3">
            <h2>{{ site.title.upper }}</h2>
            <h5>General Information (<a href="{% url 'site_surveys:edit_site' site.id %}">edit</a>)</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Site ID</th>
                            <th>Date Added</th>
                            <th>Updated</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Street Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>ZIP Code</th>
                            <th>Site Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ site.title.upper }}</td>
                            <td>{{ site.date_added }}</td>
                            <td>{{ site.updated }}</td>
                            <td>{{ site.first_name }}</td>
                            <td>{{ site.last_name }}</td>
                            <td>{{ site.email }}</td>
                            <td>{{ site.street_address }}</td>
                            <td>{{ site.city }}</td>
                            <td>{{ site.state }}</td>
                            <td>{{ site.zip_code }}</td>
                            <td>{{ site.site_type.title }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container mt-3">
            <h5>Photo Checklist (<a href="{% url 'site_surveys:photo_checklist' site.id %}">edit</a>)</h5>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Front</th>
                            <th>Back</th>
                            <th>Left</th>
                            <th>Right</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ site.front }}</td>
                            <td>{{ site.back }}</td>
                            <td>{{ site.left }}</td>
                            <td>{{ site.right }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container mt-3">
            <h5>Network Checklist (<a href="{% url 'site_surveys:network_checklist' site.id %}">edit</a>)</h5>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Router One</th>
                            <th>Router Two</th>
                            <th>Switch One</th>
                            <th>Switch Two</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ site.router_one }}</td>
                            <td>{{ site.router_two }}</td>
                            <td>{{ site.switch_one }}</td>
                            <td>{{ site.switch_two }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container mt-3">
            <h5>Server Checklist (<a href="{% url 'site_surveys:server_checklist' site.id %}">edit</a>)</h5>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Server One</th>
                            <th>Server Two</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ site.server_one }}</td>
                            <td>{{ site.server_two }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container mt-3">
            <h5>MDF Checklist (<a href="{% url 'site_surveys:mdf_checklist' site.id %}">edit</a>)</h5>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>MDF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ site.mdf }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container mt-3">
            <h5>IDF Checklist (<a href="{% url 'site_surveys:idf_checklist' site.id %}">edit</a>)</h5>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>IDF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ site.idf }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p>
            <div><a href="{% url 'site_surveys:export_site' site.id %}">
                <button type="button" class="button">Export Site Data</button></a></div>
        </p>

    {% endblock page_header %}

    {% block content %}

    {% endblock content %}
</body>
</html>