<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sites</title>
</head>
<body>
    {% extends "site_surveys/base.html" %}

    {% block page_header %}
        <h1>Sites</h1>
        <h4>Current Total: {{ count }}</h4>
    {% endblock page_header %}

    {% block content %}

        <ul class="list-group border-bottom pb-2 mb-4">
            {% for site in sites %}

                <li class="list-group-item border-1">
                    <div class="p-2 text-light border rounded-2" style="background-color: #455eb5;">
                        <div class="container text-light">
                            <a href="{{ site.get_absolute_url }}" style="color: white"><h4>{{ site.title.upper }}</h4></a>
                            <div>Last Updated: {{ site.updated }}</div>
                            <p class="tags"><strong>Tags: {{ site.tags.all|join:", " }}</strong></p>
                        </div>
                    </div>
                </li>

            {% empty %}
                <li class="list-group-item border-0">No sites have been added yet.</li>
            {% endfor %}
        </ul>
        <div><a href="{% url 'site_surveys:export_all_sites' %}">
            <button type="button" class="button">Export All Sites Data</button></a></div>
        <br><a href="{% url 'site_surveys:new_site' %}">Add New Site</a>

    {% include "site_surveys/pagination.html" with page=sites %}
        <br>

    {% endblock content %}
</body>
</html>